*{
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

body{
margin-top: 1em;
height: 100vh;
background: #c0c3d8;

}

/* form styles */

form{
    margin: auto;
    padding: 1em;
    border: 1px solid #CCC;
    border-radius: 4px;
    background: #c0c3d8;
    box-shadow:  20px 20px 60px #a3a6b8,
                 -20px -20px 60px #dde0f8;

}



label{
    font-weight: bold;
}


form p{
    border: 1px solid #CCC;
    border-radius: 4px;
    background: #c0c3d8;
    box-shadow: inset -20px 20px 60px #a3a6b8,
                inset 20px -20px 60px #dde0f8;
                padding: 1em;
}


input.temp {
    margin-bottom: 10px;
    padding: 5px;
    width: 50%;
 
}

input[type="radio"]{

    vertical-align: middle;
}

fieldset{
    border: none;
}

/* header */
h1{
    text-align: center;
}

/* list */
li{
list-style: none;
}

/* section */
section{
    margin: auto;
    width: 50%;
    text-align: center;
}

/* container */
.container{
    margin: auto;
    text-align: center;
}

/* row */
.row{
    margin: auto;
    text-align: center;
}


/* result */
.result-card{
    margin: auto;
    padding: 1em;
    border: 1px solid #CCC;
    border-radius: 4px;
    background: #c0c3d8;
    box-shadow: inset 20px -20px 60px #a3a6b8,
    inset -20px 20px 60px #dde0f8;

}



/* error with animation */
.error{
    color: red;
    animation: shake 300ms;
    animation-iteration-count: .5s;
    display: list-item;
    list-style: none;
  }
  
  @keyframes shake {
    0% {
      transform: translate(1px, 1px) rotate(0deg);
    }
    10% {
      transform: translate(-1px, -2px) rotate(-1deg);
    }
    20% {
      transform: translate(-3px, 0px) rotate(1deg);
    }
    30% {
      transform: translate(3px, 2px) rotate(0deg);
    }
    40% {
      transform: translate(1px, -1px) rotate(1deg);
    }
    50% {
      transform: translate(-1px, 2px) rotate(-1deg);
    }
    60% {
      transform: translate(-3px, 1px) rotate(0deg);
    }
    70% {
      transform: translate(3px, 1px) rotate(-1deg);
    }
    80% {
      transform: translate(-1px, -1px) rotate(1deg);
    }
    90% {
      transform: translate(1px, 2px) rotate(0deg);
    }
    100% {
      transform: translate(1px, -2px) rotate(-1deg);
    }
  }
  

/* footer */
footer{
    margin: auto;
    position: absolute;
    left: 0;
    right: 0;
    bottom: auto;
    margin-top: 5em;
    text-align: center;
    border-top: 1px solid #CCC;
    width: 50%;
    vertical-align: middle;
}

/* desktop @media */

@media screen and (min-width: 768px) {
    form{
        width: 45%;
    }
    section{
        width: 45%;
    }

}



